In [1]:
import sqlite3
import random
from datetime import datetime, timedelta

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect("sales.db")
cursor = conn.cursor()

# Create table for product information
cursor.execute(
    """
CREATE TABLE IF NOT EXISTS Product (
    product_id INTEGER PRIMARY KEY,
    product_name TEXT NOT NULL,
    category TEXT,
    price REAL
);
"""
)

# Create table for sales information
cursor.execute(
    """
CREATE TABLE IF NOT EXISTS Sales (
    sale_id INTEGER PRIMARY KEY,
    product_id INTEGER,
    sale_date DATE,
    quantity_sold INTEGER,
    FOREIGN KEY (product_id) REFERENCES Product(product_id)
);
"""
)

# Create table for product inventory
cursor.execute(
    """
CREATE TABLE IF NOT EXISTS Inventory (
    product_id INTEGER,
    inventory_date DATE,
    opening_stock INTEGER,
    closing_stock INTEGER,
    FOREIGN KEY (product_id) REFERENCES Product(product_id),
    PRIMARY KEY (product_id, inventory_date)
);
"""
)

# Insert dummy data into Product table
products = [
    (
        i,
        f"{chr(65 + (i % 26))}",
        f"Category {i % 5 + 1}",
        round(random.uniform(5, 50), 2),
    )
    for i in range(1, 11)
]
cursor.executemany(
    """
INSERT INTO Product (product_id, product_name, category, price)
VALUES (?, ?, ?, ?)
""",
    products,
)

# Generate dummy data for 3 months Sales table
sales = []
date_start = datetime.strptime("2025-01-01", "%Y-%m-%d")
sale_id = 1

for i in range(1, 11):
    for j in range(90):  # 90 days of sales data for each product
        sale_date = date_start + timedelta(days=j)
        quantity_sold = random.randint(1, 20)
        sales.append((sale_id, i, sale_date.strftime("%Y-%m-%d"), quantity_sold))
        sale_id += 1

cursor.executemany(
    """
INSERT INTO Sales (sale_id, product_id, sale_date, quantity_sold)
VALUES (?, ?, ?, ?)
""",
    sales,
)

# Generate dummy data for 3 months Inventory table
inventory = []

for i in range(1, 11):
    opening_stock = random.randint(100, 500)
    for month in range(3):  # 3 months of inventory data
        month_start = date_start + timedelta(days=month * 30)
        for j in range(30):  # 30 days per month
            inventory_date = month_start + timedelta(days=j)
            closing_stock = max(0, opening_stock - random.randint(1, 20))
            inventory.append(
                (i, inventory_date.strftime("%Y-%m-%d"), opening_stock, closing_stock)
            )
            opening_stock = closing_stock

        # Restock at the end of the month
        if month < 2:  # No restock after the last month
            opening_stock += random.randint(100, 500)

cursor.executemany(
    """
INSERT INTO Inventory (product_id, inventory_date, opening_stock, closing_stock)
VALUES (?, ?, ?, ?)
""",
    inventory,
)

# Commit changes
conn.commit()

# Close the connection
conn.close()

In [4]:
import pandas as pd

conn = sqlite3.connect("sales.db")
cursor = conn.cursor()

print("\nInventory Status for Product 1:")
cursor.execute("SELECT * FROM Sales WHERE product_id = 1")
data = cursor.fetchall()
df = pd.DataFrame(data, columns=["sale_id", "product_id", "sale_date", "quantity_sold"])


# Close the connection
conn.close()

Inventory Status for Product 1:

In [5]:
df.head(34)

    sale_id  product_id   sale_date  quantity_sold
0         1           1  2025-01-01              9
1         2           1  2025-01-02             15
2         3           1  2025-01-03              8
3         4           1  2025-01-04             14
4         5           1  2025-01-05             18
5         6           1  2025-01-06              2
6         7           1  2025-01-07             10
7         8           1  2025-01-08             20
8         9           1  2025-01-09             15
9        10           1  2025-01-10             12
10       11           1  2025-01-11              6
11       12           1  2025-01-12             18
12       13           1  2025-01-13             18
13       14           1  2025-01-14              5
14       15           1  2025-01-15             13
15       16           1  2025-01-16             12
16       17           1  2025-01-17             17
17       18           1  2025-01-18              9
18       19           1  2025-01-19             11
19       20           1  2025-01-20             15
20       21           1  2025-01-21             17
21       22           1  2025-01-22             15
22       23           1  2025-01-23             15
23       24           1  2025-01-24             11
24       25           1  2025-01-25              1
25       26           1  2025-01-26              7
26       27           1  2025-01-27              8
27       28           1  2025-01-28             17
28       29           1  2025-01-29              3
29       30           1  2025-01-30             10
30       31           1  2025-01-31             10
31       32           1  2025-02-01             13
32       33           1  2025-02-02             10
33       34           1  2025-02-03              9

In [7]:
import pandas as pd

conn = sqlite3.connect("sales.db")
cursor = conn.cursor()

cursor.execute("SELECT * FROM Product")
data = cursor.fetchall()
df = pd.DataFrame(data)


# Close the connection
conn.close()

In [8]:
df

    0  1           2      3
0   1  B  Category 2  19.05
1   2  C  Category 3  49.78
2   3  D  Category 4  22.12
3   4  E  Category 5  22.93
4   5  F  Category 1  14.90
5   6  G  Category 2  15.34
6   7  H  Category 3  23.68
7   8  I  Category 4  18.99
8   9  J  Category 5  27.48
9  10  K  Category 1  44.08

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from crewai_tools import CodeInterpreterTool

/Users/mayurgd/miniconda3/envs/agentic_ai/lib/python3.12/site-packages/pydantic/_internal/_config.py:295: PydanticDeprecatedSince20: Support for class-based `config` is deprecated, use ConfigDict instead. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.10/migration/
  warnings.warn(DEPRECATION_MESSAGE, DeprecationWarning)
/Users/mayurgd/miniconda3/envs/agentic_ai/lib/python3.12/site-packages/pydantic/_internal/_generate_schema.py:502: UserWarning: <built-in function callable> is not a Python type (it may be an instance of an object), Pydantic will allow any object with no validation since we cannot even enforce that the input is an instance of the given type. To get rid of this error wrap the type with `pydantic.SkipValidation`.
  warn(
/Users/mayurgd/miniconda3/envs/agentic_ai/lib/python3.12/site-packages/crewai_tools/tools/scrapegraph_scrape_tool/scrapegraph_scrape_tool.py:34: PydanticDeprecatedSince20: Pydantic V1 style `@validator` validators are deprecated. You should migrate to Pydantic V2 style `@field_validator` validators, see the migration guide for more details. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.10/migration/
  @validator("website_url")
/Users/mayurgd/miniconda3/envs/agentic_ai/lib/python3.12/site-packages/crewai_tools/tools/selenium_scraping_tool/selenium_scraping_tool.py:26: PydanticDeprecatedSince20: Pydantic V1 style `@validator` validators are deprecated. You should migrate to Pydantic V2 style `@field_validator` validators, see the migration guide for more details. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.10/migration/
  @validator("website_url")
/Users/mayurgd/miniconda3/envs/agentic_ai/lib/python3.12/site-packages/crewai_tools/tools/vision_tool/vision_tool.py:15: PydanticDeprecatedSince20: Pydantic V1 style `@validator` validators are deprecated. You should migrate to Pydantic V2 style `@field_validator` validators, see the migration guide for more details. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.10/migration/
  @validator("image_path_url")

In [3]:
code_interpreter = CodeInterpreterTool(
    user_dockerfile_path="/Users/mayurgd/Documents/CodingSpace/RAG_Learning/sql_agent_with_forecasting/src/sql_agent/Docker"
)

In [4]:
# import json
# json.loads("{\"code\": \"import matplotlib.pyplot as plt\\nimport pandas as pd\\n\\n# Data\\nproduct_count = 10\\n\\n# Create a DataFrame\\ndata = {'Category': ['Total Products'], 'Count': [product_count]}\\ndf = pd.DataFrame(data)\\n\\n# Visualization\\nplt.figure(figsize=(8, 5))\\nplt.bar(df['Category'], df['Count'], color='skyblue')\\nplt.xlabel('Product Category')\\nplt.ylabel('Count')\\nplt.title('Total Number of Products')\\nplt.xticks(rotation=45)\\nplt.ylim(0, 15)\\nplt.axhline(y=product_count, color='orange', linestyle='--', label='Total Products')\\nplt.legend()\\nplt.show()\\n\\n# Print the DataFrame to show the product count\\nprint(df)\", \"libraries_used\": [\"matplotlib\", \"pandas\"]}")

In [5]:
code_interpreter.run(code="import matplotlib", libraries_used=["matplotlib"])

Using Tool: Code Interpreter
['matplotlib']
here
/Users/mayurgd/Documents/CodingSpace/RAG_Learning/sql_agent_with_forecasting/src/sql_agent/Docker
<Container: c26bbc560e17> ['matplotlib']
ExecResult(exit_code=0, output=b"Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/site-packages (3.10.1)\nRequirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/site-packages (from matplotlib) (1.3.1)\nRequirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/site-packages (from matplotlib) (0.12.1)\nRequirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/site-packages (from matplotlib) (4.56.0)\nRequirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/site-packages (from matplotlib) (1.4.8)\nRequirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.12/site-packages (from matplotlib) (2.2.4)\nRequirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/site-packages (from matplotlib) (24.2)\nRequirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/site-packages (from matplotlib) (11.1.0)\nRequirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/site-packages (from matplotlib) (3.2.3)\nRequirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)\nRequirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)\nWARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable.It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.\n\n[notice] A new release of pip is available: 24.3.1 -> 25.0.1\n[notice] To update, run: pip install --upgrade pip\n")

''